.container{
    margin-top: 20px;
    margin-left: 5%;
    width: 90%;
    border: 1px solid var(--gray2);
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}

.container>*{
    margin-top: 10px;
    margin-bottom: 35px;
}

