.tabs {
    z-index: 8;
    height: 40px;
    line-height: 40px;
    width: 95%;
    margin-bottom: 10px;
    margin-left: 2.5%;
    border-bottom: 1px solid var(--gray2);
    position: relative;
}

.tab {
    z-index: 9;
    display: inline-block;
    min-width: 170px;
    max-width: fit-content;
    height: 39px;
    text-align: center;
    color: var(--gray3);
    font-weight: 600;
    cursor: pointer;
    font-size: 17px;
    border-bottom: 1px solid var(--gray2);
    position: relative;
    transition: ease-in 0.4s;
}

.tab:hover {
    color: var(--gray4);
    background-color: var(--gray2);
}

.tab label {
    cursor: pointer;
}

.activeTab {
    color: var(--gray4);
    border-color: var(--blue1);
}

.childContent {
    height: fit-content;
}