.container{
    margin: 25px;
    border: 1px solid var(--gray3);
    border-radius: 10px;
    padding: 25px;
}

.col5{
    display: inline-block;
    width: 5%;
    text-align: center;
}

.col20{
    display: inline-block;
    width: 30%;
    text-align: center;
}