.container {
    width: 98%;
    border: 1px solid var(--gray1);
    margin-left: 1%;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
}

.container table{
    background-color: var(--gray1);
    max-height: 600px;
    padding:5px 20px;
    border-radius: 15px;
    overflow-y: auto;
}

.container table tr td{
    max-width: 330px;
    width: 330px;
}

.agentTable {
    background-color: var(--gray1);
    width: 100%;
    max-height: 420px;
    padding:5px 20px;
    border-radius: 15px;
    overflow-y: auto;
}

.agentTable tr td{
    max-width: 330px;
    width: 330px;
}

.showBtn {
    min-width: 100px;
    font-size: 16px;
    text-align: center;
    height: 36px;
}