.text-center {
  text-align: center;
}

.text-start {
  text-align: left;
}

.text-end{
  text-align: right;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 25px;
}

.mb-3 {
  margin-bottom: 50px;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 25px;
}

.mt-3 {
  margin-top: 50px;
}

.p-5 {
  padding: 25px;
}

.m-5 {
  margin: 25px;
}

.ms-1 {
  margin-left: 10px;
}

.ms-2 {
  margin-left: 25px;
}

.ms-3 {
  margin-left: 50px;
}

.me-1 {
  margin-right: 10px;
}

.me-2 {
  margin-right: 25px;
}

.me-3 {
  margin-right: 50px;
}

.mx-auto{
  margin-left: auto !important;
  margin-right: auto !important;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-none {
  display: none;
}

.text-gray-3 {
  color: var(--gray3);
}