:root {
  --gray0: #20242c;
  --gray1: #23282f;
  --gray2: #31353c;
  --gray3: #8597aa;
  --gray4: #ced9e5;
  --blue0: rgb(0, 81, 187);
  --blue1: rgb(0, 110, 255);
  --blue2: rgb(60, 167, 255);
  --dark0: rgb(15, 18, 31);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--gray0);
  font-size: 18px;
  font-weight: 600;
  color: var(--gray4);
}

button {
  min-width: 120px;
  max-width: fit-content;
  padding: 0 5px;
  height: 50px;
  border-radius: 5px;
  background-color: var(--blue1);
  font-size: 18px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: var(--blue0);
}



.table {
  display: block;
  text-align: center;
  padding: 5px;
  width: 100%;
  overflow-x: auto;
}

.table thead th{
  padding-bottom: 8px;
}

.table tr td{
  min-width: 120px;
  max-width: fit-content;
  padding: 8px;
  background-color: var(--gray0);
  border-radius: 5px;
}

.table tbody tr:hover td{
  background-color: var(--gray2);
}